p,
h1,
h2,
h3 {
  margin: 0px;
  padding-top: 0px;
}
.img2 {
  width: 25px;
  height: 25px;
}
.img {
  width: 250px;
  height: 250px;
}
.coloumn {
  float: left;
  width: 15%;
  padding: 25px;
}
.row::after {
  content: " ";
  clear: both;
  display: table;
}
h1 {
  position: relative;
  top: 0px;
}
ul {
  margin: 0px;
  padding-top: 0px;
}

table,
th,
td {
  border: 1px solid black;
}
